<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yuaner.qbserver.mapper.UserMapper">
    <insert id="addUser">
        INSERT INTO yuaner_user (`user_name`, `user_password`, `user_email`, `nickname`, `sex`,`create_time`)
        VALUES (#{userName},#{userPassword},#{userEmail},#{userName},1,now())
    </insert>
    <select id="checkUserEmailAndUsernameUnique" resultType="com.yuaner.qbserver.model.enity.SimpleUser">
        SELECT user_id,user_name,user_password,user_email,create_time FROM yuaner_user WHERE user_email =#{email} OR user_name =#{userName}
    </select>

    <select id="getSimpleUserById" resultType="com.yuaner.qbserver.model.enity.SimpleUser">
        SELECT user_id,user_name,user_password,user_email,create_time FROM yuaner_user WHERE user_id =#{id}
    </select>
    <select id="getSimpleUserByUserName" resultType="com.yuaner.qbserver.model.enity.SimpleUser">
        SELECT user_id,user_name,user_password,user_email,create_time FROM yuaner_user WHERE user_name =#{userName}
    </select>
    <select id="getSimpleUserByEmail" resultType="com.yuaner.qbserver.model.enity.SimpleUser">
        SELECT user_id,user_name,user_password,user_email,create_time FROM yuaner_user WHERE user_email =#{userEmail}
    </select>


    <select id="getUserById" resultType="com.yuaner.qbserver.model.enity.User">
        SELECT *
        FROM yuaner_user
        WHERE user_id = #{id}

    </select>
    <select id="getUserByUserName" resultType="com.yuaner.qbserver.model.enity.User">
        SELECT *
        FROM yuaner_user
        WHERE user_name = #{userName}
    </select>
    <select id="getUserByEmail" resultType="com.yuaner.qbserver.model.enity.User">
        SELECT *
        FROM yuaner_user
        WHERE user_email = #{emailAddress}
    </select>
    <select id="getAllUsersName" resultType="java.lang.String">
        SELECT  user_name FROM yuaner_user
    </select>

    <select id="getOnlineUsers" resultType="com.yuaner.qbserver.model.enity.User">
        SELECT * FROM yuaner_user
        <where>
            <if test="users != null and users.size() > 0">
                AND user_name IN
                <foreach collection="users" item="user" open="(" separator="," close=")">
                    #{user}
                </foreach>
            </if>
        </where>
    </select>


</mapper>